<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.emotionbackend.mapper.ArticleMapper">

    <select id="page" resultType="org.example.emotionbackend.entity.Article">
        SELECT *
        FROM article
        WHERE type = #{type}
        ORDER BY id DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(*)
        FROM article
        WHERE type = #{type}
    </select>

</mapper>
