<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.emotionbackend.mapper.ChatMessageMapper">

    <select id="selectMessages" resultType="org.example.emotionbackend.entity.ChatMessage">
        SELECT * FROM chat_message
    </select>

</mapper>
