<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication2">
        <!-- 主入口 - 登录页面 -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- 主页（包含底部导航和Fragment） -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- 注释掉不存在的Activity，等创建后再取消注释 -->
        <!--
        <activity
            android:name=".ChatActivity"
            android:exported="false" />

        <activity
            android:name=".DiaryActivity"
            android:exported="false" />

        <activity
            android:name=".TestActivity"
            android:exported="false" />

        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        -->

    </application>

</manifest>